<aside class="box section-navigation">
  {% if site.navigation[page.product] %}
     {% assign menu = site.navigation[page.product] %}
  {% else %}
    {% assign menu = site.navigation.main %}
  {% endif %}
  <ul>
    {% for link in menu %}
      {% assign current = nil %}
      {% if page.permalink == link.url or page.url == brokenurl %}
        {% assign current = 'highlighted' %}
      {% endif %}
      <li>
        <a class="{{ current }}" href="{{ link.url }}"><span>{{ link.text }}</span></a>
      </li>
    {% endfor %}
  </ul>
</aside>