---
layout: wrapper
---
<div id="content" class="grid_10 suffix_1">
	<article>
		{{ content }}
	</article>
</div>

<div id="sidebar" class="grid_5 top-spacer">
	<aside class="signup-box">
		<p class="align-center">
			Start using HP Cloud<br>
			<a href="https://console.hpcloud.com/signup" class="signup-button-orange gutter-top-half">Sign Up Now</a>
		</p>
	</aside>
	<aside class="block block-boxes box block-boxes-simple">
	  <p>Download links for v13.5 - Bindings and CLIs</p>
		<ul>
	    <li><a href="http://fog.io/" target="_blank">HP Cloud Ruby Bindings (fog provider)</a> <img src="https://badge.fury.io/rb/fog.png"/></li>
            <li><a href="http://rubygems.org/hpcloud">HP Cloud Unix CLI (hpcloud)</a> <img src="https://badge.fury.io/rb/hpcloud.png"/></li>
            <li><a href="http://docs.hpcloud.com/file/WinCLI-1.3.4.5.zip">HP Cloud Windows CLI v1.3.4.5</a></li>
            <li><a href="http://docs.openstack.org/user-guide/content/ch_cli.html" target="_blank">OpenStack Python clients</a></li>
		</ul>
	</aside>
</div>
