---
layout: wrapper
---

<div id="sidebar" class="grid_4 suffix_1 top-spacer">
    <aside>
      <div id="toc_header">
          {% if page.permalink contains 'v13' %}
              {% if page.product %}
              <p class="title"><strong><a href="/api/v13/copyright#{{page.product}}">Copyright</a></strong></p>
              {% endif %}
          <p class="title"><strong><a href="/api/v13/">API Overview</a></strong></p>
          {% else %}
              {% if page.product %}
              <p class="title"><strong><a href="/api/copyright#{{page.product}}">Copyright</a></strong></p>
              {% endif %}
          <p class="title"><strong><a href="/api/">API Overview</a></strong></p>
          {% endif %}
          <p class="title"><strong>Table of Contents</strong></p>
      </div>
      <div id="toc">
      </div>
      <!--{% include api-sidebar-nav.html %}-->
      <!--<aside class="block block-boxes box block-boxes-simple fixed">-->
        <!--<p>Having trouble finding the info you need? Try one of the following helpful links:</p>-->
            <!--<ul>-->
                <!--<li><a href="/downloads">Downloads</a></li>-->
                <!--<li><a href="https://community.hpcloud.com/knowledge-base">Knowledge Base</a></li>-->
                <!--<li><a href="https://community.hpcloud.com/forum">Forums</a></li>-->
                <!--<li><a href="/sitemap">Site Map</a></li>-->
            <!--</ul>-->
      <!--</aside>-->
    </aside>
</div>
<div id="content" class="grid_11">
	<article>
		{{ content }}
	</article>
</div>
