---
layout: wrapper-public-cloud 
---
<div id="content" class="grid_10 suffix_1">
	<article>
		{{ content }}
	</article>
</div>

<div id="sidebar" class="grid_5 top-spacer">
	<aside class="signup-box">
		<p class="align-center">
			Start using<br>HP Helion Public Cloud<br>
			<a href="http://www.hpcloud.com/cloud-credit" class="signup-button-orange gutter-top-half">Sign Up Now</a> 
		</p>
		
	</aside>
	<p class="align-center">Download the <a href="http://gaf2871b9d2d13cf45c1306b35bf01764.cdn.hpcloudsvc.com/Helion-1.0-Documentation.zip">Helion 1.0 documentation</a> to your PC</p>
	{% include sidebar-nav.html %}
</div>

 