---
layout: wrapper
---
<div id="content" class="grid_10 suffix_1">
	<article>
		{{ content }}
	</article>
</div>

<div id="sidebar" class="grid_5 top-spacer">
	<aside class="signup-box">
		<p class="align-center">
			Download the<br>Development Platform<br>
			<a href="https://helion.hpwsportal.com/#/Home/Show">DOWNLOAD NOW</a>
		</p>
	 
	</aside>
	
 <!--	
	<aside class="signup-box">
		<p class="align-center">
			Take the Helion Development Platform for a Free Spin<br>
			<a href="http://docs.hpcloud.com/helion/devplatform/ALS-developer-trial-quick-start/">Quick Start Developer Trial</a>
		</p>
	</aside>

	<aside class="signup-box">
		<p class="align-center">Make sure to check out our Developer Portal
			<a href="https://dev.hpcloud.com">dev.hpcloud.com
</a><br>
 
		</p>
	</aside>
-->	
	{% include sidebar-nav.html %}
</div>
 