<!doctype html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{{ page.title }}</title>
	{% if page.description %}
		<meta name="description" content="{{ page.description }}">
	{% endif %}
	{% if page.keywords %}
		<meta name="keywords" content="{{ page.keywords }}">
	{% endif %}
	
	 
	 {% if page.product-version1 %}<meta name="product-version1" content="{{ page.product-version1 }}">{% endif %}
	 {% if page.product-version2 %}<meta name="product-version2" content="{{ page.product-version2 }}">{% endif %}
	 {% if page.product-version3 %}<meta name="product-version3" content="{{ page.product-version3 }}">{% endif %}
	 {% if page.product-version4 %}<meta name="product-version4" content="{{ page.product-version4 }}">{% endif %}
	 {% if page.product-version5 %}<meta name="product-version5" content="{{ page.product-version5 }}">{% endif %}
	 {% if page.product-version6 %}<meta name="product-version6" content="{{ page.product-version6 }}">{% endif %}
	 
	 {% if page.role1 %}<meta name="role1" content="{{ page.role1 }}">{% endif %}
	 {% if page.role2 %}<meta name="role2" content="{{ page.role2 }}">{% endif %}
	 {% if page.role3 %}<meta name="role3" content="{{ page.role3 }}">{% endif %}
	 {% if page.role4 %}<meta name="role4" content="{{ page.role4 }}">{% endif %}
	 {% if page.role5 %}<meta name="role5" content="{{ page.role5 }}">{% endif %}
	 {% if page.role6 %}<meta name="role6" content="{{ page.role6 }}">{% endif %}
	 {% if page.role7 %}<meta name="role7" content="{{ page.role7 }}">{% endif %}
	 {% if page.role8 %}<meta name="role8" content="{{ page.role8 }}">{% endif %}
	 {% if page.role9 %}<meta name="role9" content="{{ page.role9 }}">{% endif %}
	 {% if page.role10 %}<meta name="role10" content="{{ page.role10 }}">{% endif %}
	 {% if page.role11 %}<meta name="role11" content="{{ page.role11 }}">{% endif %}
	 {% if page.role12 %}<meta name="role12" content="{{ page.role12 }}">{% endif %}
	 {% if page.role13 %}<meta name="role13" content="{{ page.role13 }}">{% endif %}
	 {% if page.role14 %}<meta name="role14" content="{{ page.role14 }}">{% endif %}
	 {% if page.role15 %}<meta name="role15" content="{{ page.role15 }}">{% endif %}
	 {% if page.role16 %}<meta name="role16" content="{{ page.role16 }}">{% endif %}
	 {% if page.role17 %}<meta name="role17" content="{{ page.role17 }}">{% endif %}
	 {% if page.role18 %}<meta name="role18" content="{{ page.role18 }}">{% endif %}
	 {% if page.role19 %}<meta name="role19" content="{{ page.role19 }}">{% endif %}
	 {% if page.role20 %}<meta name="role20" content="{{ page.role20 }}">{% endif %}

	 
	 
	 
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
  <link rel="stylesheet" href="/css/combined.css">

	<script src="/js/modernizr-2.5.3.min.js"></script>
	<script src="/js/metrics.js"></script> 
</head>
<body>
   
		<div id="main-container">
			<div id="main" class="wrapper clearfix container_16">
				{{ content }}
			</div> <!-- #main -->
		</div> <!-- #main-container -->
 

	 
</body>
</html>
